anyio==3.5.0
asgiref==3.5.0
bidict==0.21.4
certifi==2021.10.8
click==8.0.4
Cython==0.29.28
fastapi==0.74.1
h11==0.13.0
httptools==0.4.0
idna==3.3
loguru==0.6.0
pydantic==1.9.0
python-engineio==4.3.1
python-socketio==5.5.2
pytomlpp==1.0.10
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.17.5
uvloop==0.16.0
websockets==10.1
