## web
fastapi==0.85.0
starlette==0.20.4
pydantic==1.10.2
uvicorn==0.18.3

## speed
httptools==0.5.0
uvloop==0.17.0

## log
loguru==0.6.0

## TOML parse
pytomlpp==1.0.11

## socket.io
python-engineio==4.3.4
python-socketio==5.7.1
websockets==10.3
