asgiref==3.4.1
bidict==0.21.4
certifi==2021.10.8
click==8.0.3
Cython==0.29.26
fastapi==0.68.2
h11==0.12.0
httptools==0.3.0
loguru==0.5.3
pydantic==1.8.2
python-engineio==4.3.0
python-socketio==5.5.0
pytomlpp==1.0.9
starlette==0.14.2
typing_extensions==4.0.0
uvicorn==0.15.0
uvloop==0.16.0
websockets==10.1
